---

---

<header class=" z-10 top-0 left-0 flex items-center py-7 w-full bg-[#365768] h-20 px-10">
  <a href="/" class="text-[#b9e9fe] hover:text-[#b1b0b3] hover:scale-105 transition-transform">
    <img class="w-10 h-10 rounded-[5px]" src="/imgs/logo.webp" alt="">
  </a>

  <div class="flex items-center gap-8 ml-auto">
    <a href="/about" class="text-[#b9e9fe] hover:text-[#b1b0b3] hover:scale-105 transition-transform">
      About
    </a>
    <a href="https://github.com/SalomonRN/Short-Url-Generator"
      class="flex items-center justify-center group w-40 h-20 text-[#b9e9fe] hover:text-[#b1b0b3]"
    >
      <section class="flex items-center justify-between w-full">
        <p class="group-hover:scale-105 transition-transform">GitHub Code</p>
        <img class="group-hover:scale-105 transition-transform"  src="svg/github.svg" />
      </section>
    </a>
  </div>
</header>

