<main id="container" class="h-max">
  <section class="flex items-center flex-col text-[#1b2931] pt-16">
    <div class="group">
      <h1
        class="block group-hover:hidden text-5xl m-7 bold transition-transform"
      >
        ShUrl
      </h1>
      <h1
        class="hidden group-hover:block text-5xl m-7 bold transition-transform"
      >
        Short Url
      </h1>
    </div>

    <p class="text-pretty mx-11">
      ShUrl es un servicio gratuito que te permite crear de manera rápida una
      url corta para que puedas compartir.
    </p>
  </section>

  <section class="flex items-center flex-col pt-8">
    <a
      class="inline-flex group w-40 text-[18px] p-2 bg-[#2a2a2a] rounded-md text-white hover:scale-105 transition-transform"
      href="/create"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="flex duration-300 group-hover:rotate-6 m-1.5"
        ><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"
        ></path><path
          d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"
        ></path></svg
      >
      Crear un link
    </a>
  </section>

  <!-- <section class="flex w-full flex-col gap-4 items-center">
    <details
      class="group rounded-xl border border-transparent bg-zinc-800/50 transition-all duration-300 hover:border-[#00d7c9] hover:shadow-xl"
    >
      <summary
        class="focus-visible:ring-[#00d7c9]-400 duration-600 flex cursor-pointer select-none items-center gap-3 px-6 py-4 text-sm font-bold text-[#00d7c9] outline-none transition-all focus-visible:ring-2 group-open:text-pink-300 lg:text-lg"
      >
        <svg
          class="mr-1 w-7 text group-open:rotate-180"
          fill="none"
          stroke="currentColor"
          stroke-width="3"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path d="M6 9l6 6 6-6"></path>
        </svg>
        Pregunta super WOW
      </summary>
      <p>Respuesta</p>
    </details>
  </section> -->
</main>
